*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
  cursor: pointer
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  cursor: pointer
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
  gap: 30px;
  margin: 133px 30px;
}

.result {
  width: 711px;
  height: 456px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  height: 34px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__list-container {
  margin-top: 0;
  position: relative;
  height: 298px;
  overflow: auto;
  gap: 30px;
}

.result__video-container {
  display: flex;
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 20px;
}

.content__details {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.result__video {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer
}

.content__list {
  display: grid;
  gap: 25px;
  margin-right: 3px;
}

.content__list-item {
  display: flex;
  padding: 3px;
}

.content__video-card {
  display: flex;
  width: 100%;
  align-items: start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: grid;
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 7px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color:#fff;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  line-height: 16.2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 20px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2px;
  cursor: pointer
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: #fff;
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  cursor: pointer
}

/* Прим. В ревью есть замечание "надо исправить": "Для поля ввода нужно задать стили для состояния :active". 
В описании задания ничего не указано о состоянии :active, 
в макете в Figma также не предусмотрено визуальное изменение текстового поля ввода в состоянии :active */

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer
}

.more-button {
  width: 390px;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: #fff solid 1px;
}

.preloader {
  position: absolute;
}